.container {
  max-width: 320px;
  margin: 40px auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button.google {
  /* background: #4285f4; */
  background: #eae8e8;
  width: 9rem;
}

button.linkedin {
  background: #0077b5;
  color: #fff;
  width: 9rem;
}
